body {
    background: #1e1f24;
    color: #333;
    text-align: left;
    font-family: "Arial";
    font-size: 16px;
    margin: 0 auto;
    padding: 0 auto;
}
#container {
    width: 60%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
#cabecera{
    background: #37488b;
    color: rgb(255, 255, 255);
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    font-weight: bold;
    margin: 0 auto;
    padding: 0.5em;
}
#cabecera #logo 
{
    width: 20px;
    vertical-align: middle;
}
#cabecera #tagline {
    font-weight: normal;
    font-size: 0.8em;
    padding: 0 0 0 1em;
}
#container h1 {
    font-size: 20px;
}
#post{
    background: white;
    padding: 1em;
}