body {
    color: #333333;
    text-align: left;
    font-family: "Courier";
    font-size: 16px;
    margin: 0 auto;
    padding: 0 auto;
}
#container {
    width: 60%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
#container h1 {
    font-size: 20px;
}